
// COLORS

$dark-green: #084003;
$mid-green: #3a6d22;
$alert-green: #e6fc8f;
$dark-orange: #9e5700;
$light-orange: #c96e00;
$alert-red: #ffe4e4;


// IMPORTS

@import "compass";
@import "compass/reset";
@import "formalize";
