/* ============================================================

	DOCUMENT INFORMATION
		Document		: Psychological Services Styles
		Version			:	2.2
		Last Update	: 01.29.2013
		Author			:	Needle Hoffenheimer

	CSS DIRECTORY
		1.	=IMPORTS
		2.	=RESET ADDITIONS
		3.	=TOOLS
		4.	=GLOBAL LAYOUT
		5.	=GLOBAL ELEMENTS
		6.	=POLICIES
		7.	=CONTACT
		8.	=STAFF
		9.	=TEMPLEMAN
		10.	=MAP
		11.	=RESOURCES

	HACK DIRECTORY
		? targets IE (lt 9)

	FONTS
   	- default body text	Arial, Helvetica, sans-serif

	============================================================ */


// IMPORTS

@import "base";



// RESET ADDITIONS AND OVERRIDES
// next time use normalize!

ul li { @include no-bullets; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
cite { font-style: italic; font-weight: bold; }



// TOOLS

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.lt { float: left; }

.rt { float: right; }

.bg-shim { /* lt IE9 */
	display: none;
	}

.bullet { @include pretty-bullets("/image/list-decoration.gif", 7px, 7px, 25px, 20px); }

.no-zebra tr:nth-of-type(odd) { background-color: #fff; }



// GLOBAL LAYOUT

a {
	&:link, &:visited, &:active {
		color: $dark-orange;
		text-decoration: none;
		}
	&:hover, &:focus {
		color: $light-orange;
		text-decoration: underline;
		}
	}

body {
	background: image-url('bg.jpg');
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 1.4em;
	}

#{headings()} { color: $dark-green; }

h1 a {
	display: block;
	height: 115px;
	/* background: image-url('masthead.gif') top left no-repeat;*/
	}

h1 img { margin-top: -15px; }

h2 {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 0 20px;
	}

h3 {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	}

h4 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	}

h5 {
	font-size: 12px;
	font-weight: lighter;
	padding-bottom: 20px;
	}

.h5_lineheight { line-height: 1.3em; }

.wrapper {
	margin: 0 auto;
	position: relative;
	width: 800px;
	}

#container {
	background: #fff;
	border-left: 1px solid $dark-green;
	border-right: 1px solid $dark-green;
	border-bottom: 1px solid $dark-green;
	margin: 25px auto 0;
	padding: 0 0 15px;
	position: relative;
	width: 780px;
	@include box-shadow(#fff 0 0 0 10px, #fff -10px -15px 0 0, #fff 10px -15px 0 0);
	}



// GLOBAL ELEMENTS

p, table {
	// font-size: 1.2em;
	// padding: 0 20px;
	margin-bottom: 20px;
	text-align: left;
	color: #222;
	font-weight: normal;
	}

ul, ol { margin-bottom: 25px; }

ol {
	margin-left: 20px;
	list-style-type: decimal;
	li {
		padding-bottom: 10px;
		}
	}

li {
	padding: 3px 0;
	img {
		margin: 0 15px;
		}
	}

dl { margin: 10px 0 20px; }

dt {
	display: block;
	@include float-left;
	width: 40px;
	}

dd {
	display: block;
	@include float-left;
	margin: 0 0 10px 0;
	width: 439px;
	}

table { table-layout: fixed; }

td, th { padding: 2px 25px; }

tr:nth-of-type(odd) { background-color: #eee; }

.keyword {
	color: $dark-green;
	font-weight: bold;
	font-style: italic;
	}

.underline { text-decoration: underline; }

a.pdf {
	background: image-url('pdficon-sm.png') no-repeat;
	padding: 3px 0 10px 25px;
	font-size: 12px;
	// @include float(right);
	}

a[href="#top"] {
	background: image-url('arrow.png') 0 0 no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 20px;
	}

a[href="#top"]:hover {
	background-position: -25px 0;
	cursor: pointer;
	}



// NAVIGATION

.sidebar {
	@include float-left;
	margin: 20px 2px;
	}

nav {
	text-transform: uppercase;
	ul {
		margin: 0;
		padding: 0;
		}
	li {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		a {
			display: block;
			height: 13px;
			padding: 9px 8px;
			width: /*219px*/200px;
			&:link, &:visited, &:active {
				background-color: $dark-green;
				border: 1px solid #fff;
				color: #fff;
				text-decoration: none;
				}
			}
		}
	}
	
.secondary {
	margin: 20px 0 0;
	width: 227px;
	li {
		font-size: 13px;
		padding: 0;
		a {
			display: block;
			padding: 3px 8px;
			text-decoration: none;
			width: 219px;
			&:hover, &.current {
				background: $mid-green;
				color: #fff;
				text-decoration: none;
				}
			}
		}
	}

nav li a.current {
	background-color: #fff;
	border: 1px solid $dark-green;
	color: $dark-green;
	}

#main_content {
	border-left: 1px dotted $dark-green;
	@include float-right;
	margin-top: 20px;
	min-height: 430px;
	padding: 0 20px 40px;
	width: 479px;
	}

footer {
	clear: both;
	color: #fff;
	margin: 22px 0 10px -15px;
	text-align: center;
	ul {
		font-size: 12px;
		margin: 0;
		width: 100%;
		li {
			display: inline;
			padding: 0 8px;
			border-right: 1px dotted #fff;
			&:last-child {
				padding-right: 0;
				border: none;
				}
			&:first-child {
				padding-left: 0;
				}
			}
		}
	}



// INDEX

a.special-content {
	@include border-radius(20px);
	display: block;
	text-decoration: none;
	background: #eee;
	font-size: .9em;
	margin: 0 0 20px 0;
  display: none; // comment out to show special front-page callout
	&:hover {
		background: #ddd;
		}
	div {
		background: transparent image-url('psicon.png') 15px 15px no-repeat;
		padding: 15px 15px 15px 90px;
		zoom: 1; /* For IE6 */
		p {
			margin: 0;
			padding: 0;
			}
		}
	}

.special {
	color: #400329;
	text-align: center;
	padding: 0;
	}



// POLICIES

#main_content ul .linkinfo {
	font-style: italic;
	font-size: .8em;
	line-height: 12pt;
	padding: 0 0 10px 15px;
	}



// CONTACT

#contact dt { width: 100px; }
#contact dd { width: 379px; }
.inner ul { padding-right: 30px; }

label {
	font-size: 16px;
	@include float-left;
	clear: left;
	margin: 11px 20px 0 0;
	width: 70px;
	text-align: right;
	}

input {
	/* these values have been set in formalize.css due to higher specificity there */
	// height: 30px;
	// font-size: 14px;
	// @include float-left;
	// margin: 0 0 10px 0;
	}

input[type="submit"] {
	@include float-right;
	margin-right: 39px;
	}

.sm { font-size: .9em; }

textarea { padding-top: 10px; }

.whole { width: 400px; }

.error {
	padding-left: 90px;
	color: #d60000;
	clear: left;
	margin-bottom: 20px;
	}

.alert {
	padding: 10px;
	margin-bottom: 20px;
	}

.success {
	@extend .alert;
	border: 1px solid $dark-green;
	background: $alert-green;
	}

.failure {
	@extend .alert;
	border: 1px solid red;
	background: $alert-red;
	color: #d60000;
	}

.verify {
	margin-top: 10px;
	margin-left: 10px;
	@include float-left;
	width: 20px;
	height: 22px;
	}



// STAFF

.headshot {
	@include float-left;
	margin: -10px 10px 0 -10px;
	}

.staff_profile_block {
	min-height:194px;
	padding-top: 73px;
	h2 {
		margin-top: 73px;
		}
	.headshot {
		margin-top: -73px;
		}
	&:last-of-type {
		margin-bottom: 20px;
		}
	}

#group_images {
	min-height: 180px;
	padding: 0;
	width: 100%;
	a img {
		border: 1px solid $dark-green;
		}
	}



// TEMPLEMAN

.hangingindent p {
	padding-left: 30px;
	text-indent: -30px;
	}

span.underline { text-decoration: underline; }

#templeman table { width: 100%; }
#templeman td, #templeman th { padding: 5px 12px; }
#templeman tr td:nth-child(1) { width: 70px; }
#templeman tr td:nth-child(2) { width: 65px; }
#templeman tr td:nth-child(3) { width: 223px; }



// OTHER RESOURCES

.panels {
	width: 400px;
	img {
		vertical-align: middle;
		}
	li {
		margin-bottom: 10px;
		position: relative;
    a {
      display: block;
      &:hover {
        background-color: #eee;
        text-decoration: none;
        cursor: pointer;
        }
      }
		}
	}



// MAP

#map_canvas {
	width: 100%;
	height: 100%;
	width: 480px;
	height: 370px;
	margin-bottom: 15px;
	border: 1px $dark-green solid;
	}



// POLICIES

#policies a.pdf {
	background: image-url('pdficon-sm.png') no-repeat;
	padding: 3px 0 10px 25px;
	font-size: 13px;
	@include reset-float(inline);
	}

#policies ul { margin-bottom: 0; }



// ARTICLES

.article #main_content { min-height: 850px; }

#holiday-stress dt { width: 35%; }
#mental-health-first-aid dt { width: 20%; }
#holiday-stress dd, #mental-health-first-aid dd { @include float-right; }
#holiday-stress dd { width: 65%; }
#mental-health-first-aid dd { width: 80%; }

#parent-child-coercive-cycle-handout dt { width: 10%; }
#parent-child-coercive-cycle-handout dd { @include float-right; width: 90%; }

#parent-child-coercive-cycle dt { clear: both; width: 15%; }
#parent-child-coercive-cycle dd { width: 42%; }
#parent-child-coercive-cycle .diagram { margin-top: 50px; }

.ol-inline li {
	float: left;
	margin-right: 30px;
	font-size: 13px;
	}



