# Codeigniter
# -----------------------------------------------------------------------------
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
user_guide

# Sensitive data
# -----------------------------------------------------------------------------
.htaccess
application/config/config.php
application/config/database.php
*.sql

# Analytics
# -----------------------------------------------------------------------------
BingSiteAuth.xml
google_analytics_exclusion.html

# Backups
# -----------------------------------------------------------------------------
public/doc/archive

# Vagrant
# -----------------------------------------------------------------------------
.vagrant/

# Third-party
# -----------------------------------------------------------------------------
vendor
composer.json
node_modules
