# Codeigniter
# ----------------------------------------------------------------------------------------------
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

# Other
# ----------------------------------------------------------------------------------------------
.htaccess
google_analytics_exclusion.html

# Analytics
# ----------------------------------------------------------------------------------------------
BingSiteAuth.xml
