# Codeigniter
# -----------------------------------------------------------------------------
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

# Sensitive data
# -----------------------------------------------------------------------------
.htaccess
application/config/config.php
application/config/database.php
dandelion.yml

# Analytics
# -----------------------------------------------------------------------------
BingSiteAuth.xml
google_analytics_exclusion.html

# Backups
# -----------------------------------------------------------------------------
doc/archive

# Vagrant
# -----------------------------------------------------------------------------
.vagrant/
