/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ============================================================

	DOCUMENT INFORMATION
		Document		: Psychological Services Styles
		Version			:	2.2
		Last Update	: 01.29.2013
		Author			:	Needle Hoffenheimer

	CSS DIRECTORY
		1.	=IMPORTS
		2.	=RESET ADDITIONS
		3.	=TOOLS
		4.	=GLOBAL LAYOUT
		5.	=GLOBAL ELEMENTS
		6.	=POLICIES
		7.	=CONTACT
		8.	=STAFF
		9.	=TEMPLEMAN
		10.	=MAP
		11.	=RESOURCES

	HACK DIRECTORY
		? targets IE (lt 9)

	FONTS
   	- default body text	Arial, Helvetica, sans-serif

	============================================================ */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* `Widths
----------------------------------------------------------------------------------------------------*/
/* line 4, ../../sass/_formalize.scss */
.input_tiny {
  width: 50px;
}

/* line 8, ../../sass/_formalize.scss */
.input_small {
  width: 100px;
}

/* line 12, ../../sass/_formalize.scss */
.input_medium {
  width: 150px;
}

/* line 16, ../../sass/_formalize.scss */
.input_large {
  width: 200px;
}

/* line 20, ../../sass/_formalize.scss */
.input_xlarge {
  width: 250px;
}

/* line 24, ../../sass/_formalize.scss */
.input_xxlarge {
  width: 300px;
}

/* line 28, ../../sass/_formalize.scss */
.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
/* line 36, ../../sass/_formalize.scss */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/
/* line 44, ../../sass/_formalize.scss */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 49, ../../sass/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 56, ../../sass/_formalize.scss */
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

/* line 62, ../../sass/_formalize.scss */
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  /* line 75, ../../sass/_formalize.scss */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}
/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  /* line 84, ../../sass/_formalize.scss */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  /* line 93, ../../sass/_formalize.scss */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* line 102, ../../sass/_formalize.scss */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  background: -moz-linear-gradient(top center, white 0%, #dddddd 100%);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333;
  /*
    Helvetica Neue present, because it works better
    for line-height on buttons than Arial, on OS X.
  */
  font: bold 14px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 7px 20px;
  text-shadow: white 0 1px 1px;
  width: auto;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

/* line 133, ../../sass/_formalize.scss */
button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 153, ../../sass/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  margin: 0 0 10px 0;
  padding: 2px 10px 0 10px;
  font-size: 14px;
  /*
    Leaving out Helvetica Neue, to not throw off size="..."
    on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 2.8em;
  display: inline;
  float: left;
  width: 350px;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
/* line 193, ../../sass/_formalize.scss */
::-webkit-input-placeholder {
  color: #888;
}

/* line 198, ../../sass/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 203, ../../sass/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 207, ../../sass/_formalize.scss */
:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 225, ../../sass/_formalize.scss */
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  /* for Opera */
  z-index: 1;
}

/* line 239, ../../sass/_formalize.scss */
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 259, ../../sass/_formalize.scss */
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 268, ../../sass/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 281, ../../sass/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 287, ../../sass/_formalize.scss */
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 295, ../../sass/_formalize.scss */
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  /* line 300, ../../sass/_formalize.scss */
  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 315, ../../sass/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}
/* line 323, ../../sass/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  display: inline;
  float: left;
  width: 350px;
}

/* line 332, ../../sass/_formalize.scss */
optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* `IE6
----------------------------------------------------------------------------------------------------*/
/*
  Everything below this line is for IE6.
  Delete it if you don't support it! :)

  Classes are added dynamically via JS,
  because IE6 doesn't support attribute
  selectors: .ie6_button, .ie6_input, etc.

  Note: These style rules are somewhat
  duplicated because IE6 bombs out when
  it sees attribute selectors. Example:

  .ie6_button {
    This works in IE6.
  }

  .ie6_button,
  input[type=submit] {
    This doesn't work.
  }
*/
/* line 364, ../../sass/_formalize.scss */
.ie6_button,
* html button {
  background: #dddddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

/* line 376, ../../sass/_formalize.scss */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 383, ../../sass/_formalize.scss */
.ie6_input,
* html textarea,
* html select {
  background: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 394, ../../sass/_formalize.scss */
* html select {
  margin-top: 1px;
}

/* line 400, ../../sass/_formalize.scss */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888;
}

/* line 404, ../../sass/_formalize.scss */
.ie6_input_disabled {
  background: #eee;
}

/* line 40, ../../sass/_main.scss */
ul li {
  list-style: none;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 41, ../../sass/_main.scss */
b, strong {
  font-weight: bold;
}

/* line 42, ../../sass/_main.scss */
i, em {
  font-style: italic;
}

/* line 43, ../../sass/_main.scss */
cite {
  font-style: italic;
  font-weight: bold;
}

/* line 49, ../../sass/_main.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 57, ../../sass/_main.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 58, ../../sass/_main.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 61, ../../sass/_main.scss */
.lt {
  float: left;
}

/* line 63, ../../sass/_main.scss */
.rt {
  float: right;
}

/* line 65, ../../sass/_main.scss */
.bg-shim {
  /* lt IE9 */
  display: none;
}

/* line 69, ../../sass/_main.scss */
.bullet {
  margin-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.3-p362@pendletonpsych/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.bullet li {
  padding-left: 20px;
  background: url('../../image/list-decoration.gif?1312668127') no-repeat 6.5px 9px;
  list-style-type: none;
}

/* line 71, ../../sass/_main.scss */
.no-zebra tr:nth-of-type(odd) {
  background-color: #fff;
}

/* line 78, ../../sass/_main.scss */
a:link, a:visited, a:active {
  color: #9e5700;
  text-decoration: none;
}
/* line 82, ../../sass/_main.scss */
a:hover, a:focus {
  color: #c96e00;
  text-decoration: underline;
}

/* line 88, ../../sass/_main.scss */
body {
  background: url('../../image/bg.jpg?1311228778');
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.4em;
}

/* line 97, ../../sass/_main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #084003;
}

/* line 99, ../../sass/_main.scss */
h1 a {
  display: block;
  height: 115px;
  /* background: image-url('masthead.gif') top left no-repeat;*/
}

/* line 105, ../../sass/_main.scss */
h1 img {
  margin-top: -15px;
}

/* line 107, ../../sass/_main.scss */
h2 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0 20px;
}

/* line 113, ../../sass/_main.scss */
h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 119, ../../sass/_main.scss */
h4 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 125, ../../sass/_main.scss */
h5 {
  font-size: 12px;
  font-weight: lighter;
  padding-bottom: 20px;
}

/* line 131, ../../sass/_main.scss */
.h5_lineheight {
  line-height: 1.3em;
}

/* line 133, ../../sass/_main.scss */
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 800px;
}

/* line 139, ../../sass/_main.scss */
#container {
  background: #fff;
  border-left: 1px solid #084003;
  border-right: 1px solid #084003;
  border-bottom: 1px solid #084003;
  margin: 25px auto 0;
  padding: 0 0 15px;
  position: relative;
  width: 780px;
  -webkit-box-shadow: white 0 0 0 10px, white -10px -15px 0 0, white 10px -15px 0 0;
  -moz-box-shadow: white 0 0 0 10px, white -10px -15px 0 0, white 10px -15px 0 0;
  box-shadow: white 0 0 0 10px, white -10px -15px 0 0, white 10px -15px 0 0;
}

/* line 155, ../../sass/_main.scss */
p, table {
  margin-bottom: 20px;
  text-align: left;
  color: #222;
  font-weight: normal;
}

/* line 164, ../../sass/_main.scss */
ul, ol {
  margin-bottom: 25px;
}

/* line 166, ../../sass/_main.scss */
ol {
  margin-left: 20px;
  list-style-type: decimal;
}
/* line 169, ../../sass/_main.scss */
ol li {
  padding-bottom: 10px;
}

/* line 174, ../../sass/_main.scss */
li {
  padding: 3px 0;
}
/* line 176, ../../sass/_main.scss */
li img {
  margin: 0 15px;
}

/* line 181, ../../sass/_main.scss */
dl {
  margin: 10px 0 20px;
}

/* line 183, ../../sass/_main.scss */
dt {
  display: block;
  display: inline;
  float: left;
  width: 40px;
}

/* line 189, ../../sass/_main.scss */
dd {
  display: block;
  display: inline;
  float: left;
  margin: 0 0 10px 0;
  width: 439px;
}

/* line 196, ../../sass/_main.scss */
table {
  table-layout: fixed;
}

/* line 198, ../../sass/_main.scss */
td, th {
  padding: 2px 25px;
}

/* line 200, ../../sass/_main.scss */
tr:nth-of-type(odd) {
  background-color: #eee;
}

/* line 202, ../../sass/_main.scss */
.keyword {
  color: #084003;
  font-weight: bold;
  font-style: italic;
}

/* line 208, ../../sass/_main.scss */
.underline {
  text-decoration: underline;
}

/* line 210, ../../sass/_main.scss */
a.pdf {
  background: url('../../image/pdficon-sm.png?1329539993') no-repeat;
  padding: 3px 0 10px 25px;
  font-size: 12px;
}

/* line 217, ../../sass/_main.scss */
a[href="#top"] {
  background: url('../../image/arrow.png?1333320740') 0 0 no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
}

/* line 226, ../../sass/_main.scss */
a[href="#top"]:hover {
  background-position: -25px 0;
  cursor: pointer;
}

/* line 235, ../../sass/_main.scss */
.sidebar {
  display: inline;
  float: left;
  margin: 20px 2px;
}

/* line 240, ../../sass/_main.scss */
nav {
  text-transform: uppercase;
}
/* line 242, ../../sass/_main.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 246, ../../sass/_main.scss */
nav li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
/* line 252, ../../sass/_main.scss */
nav li a {
  display: block;
  height: 13px;
  padding: 9px 8px;
  width: 200px;
}
/* line 257, ../../sass/_main.scss */
nav li a:link, nav li a:visited, nav li a:active {
  background-color: #084003;
  border: 1px solid white;
  color: #fff;
  text-decoration: none;
}

/* line 267, ../../sass/_main.scss */
.secondary {
  margin: 20px 0 0;
  width: 227px;
}
/* line 270, ../../sass/_main.scss */
.secondary li {
  font-size: 13px;
  padding: 0;
}
/* line 273, ../../sass/_main.scss */
.secondary li a {
  display: block;
  padding: 3px 8px;
  text-decoration: none;
  width: 219px;
}
/* line 278, ../../sass/_main.scss */
.secondary li a:hover, .secondary li a.current {
  background: #3a6d22;
  color: #fff;
  text-decoration: none;
}

/* line 287, ../../sass/_main.scss */
nav li a.current {
  background-color: #fff;
  border: 1px solid #084003;
  color: #084003;
}

/* line 293, ../../sass/_main.scss */
#main_content {
  border-left: 1px dotted #084003;
  display: inline;
  float: right;
  margin-top: 20px;
  min-height: 430px;
  padding: 0 20px 40px;
  width: 479px;
}

/* line 302, ../../sass/_main.scss */
footer {
  clear: both;
  color: #fff;
  margin: 22px 0 10px -15px;
  text-align: center;
}
/* line 307, ../../sass/_main.scss */
footer ul {
  font-size: 12px;
  margin: 0;
  width: 100%;
}
/* line 311, ../../sass/_main.scss */
footer ul li {
  display: inline;
  padding: 0 8px;
  border-right: 1px dotted white;
}
/* line 315, ../../sass/_main.scss */
footer ul li:last-child {
  padding-right: 0;
  border: none;
}
/* line 319, ../../sass/_main.scss */
footer ul li:first-child {
  padding-left: 0;
}

/* line 330, ../../sass/_main.scss */
a.special-content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  display: block;
  text-decoration: none;
  background: #eee;
  font-size: .9em;
  margin: 0 0 20px 0;
  display: none;
}
/* line 338, ../../sass/_main.scss */
a.special-content:hover {
  background: #ddd;
}
/* line 341, ../../sass/_main.scss */
a.special-content div {
  background: transparent url('../../image/psicon.png?1354004564') 15px 15px no-repeat;
  padding: 15px 15px 15px 90px;
  zoom: 1;
  /* For IE6 */
}
/* line 345, ../../sass/_main.scss */
a.special-content div p {
  margin: 0;
  padding: 0;
}

/* line 352, ../../sass/_main.scss */
.special {
  color: #400329;
  text-align: center;
  padding: 0;
}

/* line 362, ../../sass/_main.scss */
#main_content ul .linkinfo {
  font-style: italic;
  font-size: .8em;
  line-height: 12pt;
  padding: 0 0 10px 15px;
}

/* line 373, ../../sass/_main.scss */
#contact dt {
  width: 100px;
}

/* line 374, ../../sass/_main.scss */
#contact dd {
  width: 379px;
}

/* line 375, ../../sass/_main.scss */
.inner ul {
  padding-right: 30px;
}

/* line 377, ../../sass/_main.scss */
label {
  font-size: 16px;
  display: inline;
  float: left;
  clear: left;
  margin: 11px 20px 0 0;
  width: 70px;
  text-align: right;
}

/* line 386, ../../sass/_main.scss */
input {
  /* these values have been set in formalize.css due to higher specificity there */
}

/* line 394, ../../sass/_main.scss */
input[type="submit"] {
  display: inline;
  float: right;
  margin-right: 39px;
}

/* line 399, ../../sass/_main.scss */
.sm {
  font-size: .9em;
}

/* line 401, ../../sass/_main.scss */
textarea {
  padding-top: 10px;
}

/* line 403, ../../sass/_main.scss */
.whole {
  width: 400px;
}

/* line 405, ../../sass/_main.scss */
.error {
  padding-left: 90px;
  color: #d60000;
  clear: left;
  margin-bottom: 20px;
}

/* line 412, ../../sass/_main.scss */
.alert, .success, .failure {
  padding: 10px;
  margin-bottom: 20px;
}

/* line 417, ../../sass/_main.scss */
.success {
  border: 1px solid #084003;
  background: #e6fc8f;
}

/* line 423, ../../sass/_main.scss */
.failure {
  border: 1px solid red;
  background: #ffe4e4;
  color: #d60000;
}

/* line 430, ../../sass/_main.scss */
.verify {
  margin-top: 10px;
  margin-left: 10px;
  display: inline;
  float: left;
  width: 20px;
  height: 22px;
}

/* line 442, ../../sass/_main.scss */
.headshot {
  display: inline;
  float: left;
  margin: -10px 10px 0 -10px;
}

/* line 447, ../../sass/_main.scss */
.staff_profile_block {
  min-height: 194px;
  padding-top: 73px;
}
/* line 450, ../../sass/_main.scss */
.staff_profile_block h2 {
  margin-top: 73px;
}
/* line 453, ../../sass/_main.scss */
.staff_profile_block .headshot {
  margin-top: -73px;
}
/* line 456, ../../sass/_main.scss */
.staff_profile_block:last-of-type {
  margin-bottom: 20px;
}

/* line 461, ../../sass/_main.scss */
#group_images {
  min-height: 180px;
  padding: 0;
  width: 100%;
}
/* line 465, ../../sass/_main.scss */
#group_images a img {
  border: 1px solid #084003;
}

/* line 474, ../../sass/_main.scss */
.hangingindent p {
  padding-left: 30px;
  text-indent: -30px;
}

/* line 479, ../../sass/_main.scss */
span.underline {
  text-decoration: underline;
}

/* line 481, ../../sass/_main.scss */
#templeman table {
  width: 100%;
}

/* line 482, ../../sass/_main.scss */
#templeman td, #templeman th {
  padding: 5px 12px;
}

/* line 483, ../../sass/_main.scss */
#templeman tr td:nth-child(1) {
  width: 70px;
}

/* line 484, ../../sass/_main.scss */
#templeman tr td:nth-child(2) {
  width: 65px;
}

/* line 485, ../../sass/_main.scss */
#templeman tr td:nth-child(3) {
  width: 223px;
}

/* line 491, ../../sass/_main.scss */
.panels {
  width: 400px;
}
/* line 493, ../../sass/_main.scss */
.panels img {
  vertical-align: middle;
}
/* line 496, ../../sass/_main.scss */
.panels li {
  margin-bottom: 10px;
  position: relative;
}
/* line 499, ../../sass/_main.scss */
.panels li a {
  display: block;
}
/* line 501, ../../sass/_main.scss */
.panels li a:hover {
  background-color: #eee;
  text-decoration: none;
  cursor: pointer;
}

/* line 514, ../../sass/_main.scss */
#map_canvas {
  width: 100%;
  height: 100%;
  width: 480px;
  height: 370px;
  margin-bottom: 15px;
  border: 1px #084003 solid;
}

/* line 527, ../../sass/_main.scss */
#policies a.pdf {
  background: url('../../image/pdficon-sm.png?1329539993') no-repeat;
  padding: 3px 0 10px 25px;
  font-size: 13px;
  float: none;
  display: inline;
}

/* line 534, ../../sass/_main.scss */
#policies ul {
  margin-bottom: 0;
}

/* line 540, ../../sass/_main.scss */
.article #main_content {
  min-height: 850px;
}

/* line 542, ../../sass/_main.scss */
#holiday-stress dt {
  width: 35%;
}

/* line 543, ../../sass/_main.scss */
#mental-health-first-aid dt {
  width: 20%;
}

/* line 544, ../../sass/_main.scss */
#holiday-stress dd, #mental-health-first-aid dd {
  display: inline;
  float: right;
}

/* line 545, ../../sass/_main.scss */
#holiday-stress dd {
  width: 65%;
}

/* line 546, ../../sass/_main.scss */
#mental-health-first-aid dd {
  width: 80%;
}

/* line 548, ../../sass/_main.scss */
#parent-child-coercive-cycle-handout dt {
  width: 10%;
}

/* line 549, ../../sass/_main.scss */
#parent-child-coercive-cycle-handout dd {
  display: inline;
  float: right;
  width: 90%;
}

/* line 551, ../../sass/_main.scss */
#parent-child-coercive-cycle dt {
  clear: both;
  width: 15%;
}

/* line 552, ../../sass/_main.scss */
#parent-child-coercive-cycle dd {
  width: 42%;
}

/* line 553, ../../sass/_main.scss */
#parent-child-coercive-cycle .diagram {
  margin-top: 50px;
}

/* line 555, ../../sass/_main.scss */
.ol-inline li {
  float: left;
  margin-right: 30px;
  font-size: 13px;
}
